# Auto detect text files and perform LF normalization
* text=auto
F:/COMP342/My[[:space:]]project[[:space:]](3)2/* filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-6bbed65aadf72c056c6b1679d5d347dd3cffaf72.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/tmp_pack_cTWsGU filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.12/.Runtime/libburst-llvm-16.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.12/.Runtime/libburst-llvm-16.so filter=lfs diff=lfs merge=lfs -text
